# IntelliJ IDEA specific
 .idea/
!.idea/modules.xml
!.idea/vcs.xml
!.idea/codeStyles/
!.idea/runConfigurations/
 *.iws
 *.ipr
 out/
 .idea_modules/

 # Compiled files
 *.class
 target/
 build/

#Project#